body{
    background-color: #000;
    font-family: var(--font-dm-sans);
}

.sidebar{
    /* estará fixo na página */
    position: fixed;
    /* Para ficar grudado no topo */
    top: 0;
    /* Para ficar sempre a esquerda */
    left: 0;
    /* grudado na parte de baixo */
    bottom: 0;
    /* espaçamento com um valor, ou seja, todos os valores serão iguais*/
    padding: 12px;
    /* Largura */
    width: 300px;
}

.sidebar__navigation{
    background-color: #121212;
    border-radius: 8px;
    /* primeiro 16 cima, segundo direita, terceiro embaixo e ultimo esquerda*/
    padding: 16px 0 0 16px; 
}

.sidebar__navigation .logo{
    background: #121212;
    display: flex;
    border-radius: 8px;
    padding: 16px 0 0 16px;
}

.sidebar__navigation .logo img{
    /* tamanho de largura da imagem */
    width: 80px;
    
}

.sidebar nav ul{
    /* para não ficar grudada na imagem */
    margin-top: 20px;
    /* Para se ajustar na caixinha */
    padding: 0 20px 10px 20px;
}

.sidebar ul li{
    padding: 10px 0;
}

.sidebar ul li a:hover{
    color: #fff;
    text-decoration: underline;
}

.sidebar nav ul li a{
    color: #b3b3b3;
    text-decoration: none;
    /* peso na fonte */
    font-weight: 600;
    font-size: 14px;
    /* font-family: "DM Sans", sans-serif; */
}

.biblioteca{
    background-color: #121212;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 4px 8px 20px;
    color: #b3b3b3;
    font-weight: 600;
    font-size: 14px;
    /* font-family: "DM Sans", sans-serif; */
    margin-top: 10px;
}

.biblioteca .biblioteca__conteudo{
    display: flex;
    justify-content: space-between;
}

.biblioteca .biblioteca__conteudo .fa-plus{
    margin: 24px 10px;
    cursor: pointer;
}

.biblioteca .biblioteca__button{
    display: flex;
    margin-right: 10px;
    color: #b3b3b3;
    /* coloca o estilo que quer no botão */
    background-color: transparent;
    /* tirar a borda que já vem no botão */
    border: 0px;
    font-size: 14px;
    font-weight: 700;
    /* font-family: "DM Sans", sans-serif; */
    text-align: center;
    text-decoration: none;
    text-transform: none;
    padding: 20px 10px;

}

.biblioteca__conteudo .biblioteca__button:hover{
    color:#fff ;
    cursor: pointer;
}

.biblioteca .biblioteca__button .fa{
    font-size: 20px;
    margin-right: 10px;
    font-weight: 300;
    padding-right: 8px;
}


/* Como eu tentei fazer no desafio 1(colocar biblioteca), os icons ficaram colados */
/* .sidebar_biblioteca{
    color: #b3b3b3;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    font-family: "DM Sans", sans-serif;
    padding: 12px;
    position: fixed;
    top: 0; 
    margin-top: 190px;

}

.biblioteca{
    background: #121212;
    color: #b3b3b3;
    border-radius: 8px;
    padding: 16px 150px 16px 26px;
    font-weight: 600;
    font-size: 14px;
    font-family: "DM Sans", sans-serif;
} 

.biblioteca ul li{
    padding: 10px 0;
} */

.section__playlist{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    /* qual o espaço entre as propriedades */
    gap: 20px;
    border-radius: 10px;
    background-color: #242424;
    color: #b3b3b3;
    font-weight: 600;
    font-size: 14px;
    margin: 8px 0px;
    padding: 16px 20px;
}

.section__playlist .section__playlist__conteudo{
    display: flex;
    flex-direction: column;
}

.section__playlist__conteudo .text{
    padding-bottom: 14px;
    color: #fff;
    /* font-family: "DM Sans", sans-serif; */
}

.section__playlist__conteudo .title{
    font-weight: 700;
}

.section__playlist__conteudo .subtitle{
    font-weight: 500;
    font-size: 12px;
}

.section__playlist__conteudo .section__playlist__button{
    display: flex;
    justify-content: center;
    background-color: #fff;
    color: #000;
    border-radius: 20px;
    font-size: 12px;
    font-weight: 700;
    /* font-family: "DM Sans", sans-serif; */
    text-decoration: none;
    text-transform: none;
    padding: 10px;
    margin-top: 12px;
    border: 0px;
    width: 113px;
    cursor: pointer;
}

.sidebar .cookies, .termos, .centro{
    margin: 25px 20px;
}

.sidebar .cookies a, .termos a, .centro a{
    color: #b3b3b3;
    font-weight: 500;
    font-size: 10px;
    text-decoration: none;
}

.sidebar .cookies a:hover, .termos a:hover, .centro a:hover{
    /* coloca um sublinhado quando passa o mouse */
    text-decoration: underline;
}

.languagens .languagens__button{
    align-items: center;
    background-color: transparent;
    border: 1px solid #878787;
    border-radius: 20px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    width: 170px;
    margin: 8px;
    padding: 8px;
    
    
}

.languagens .languagens__button:hover{
    align-items: center;
    width: 172px;
    margin: 9px;
    padding: 9px;
    border: 2px solid #878787;
    
}

.premium{
    position: fixed;
    bottom: 8px;
    left: 10px;
    right: 10px;
    background: linear-gradient(to right, #008000, #509bf5);
    padding: 8px 8px;
    display: flex;
    justify-content: space-between;
}

.premium__text{
    font-size: 14px;
    /* font-family: "DM Sans", sans-serif; */
    font-weight: bolder;
    color: #fff;
}

.premium__subtitle{
    font-size: 14px;
    /* font-family: "DM Sans", sans-serif; */
    margin-top: 7px;
    color: #fff;
}

.button button{
    display: flex;
    justify-content: center;
    background-color: #fff;
    color: #000;
    border-radius: 20px;
    font-size: 12px;
    font-weight: bolder;
    /* font-family: "DM Sans", sans-serif; */
    text-decoration: none;
    text-transform: none;
    padding: 10px;
    margin-top: 12px;
    border: 0px;
    cursor: pointer;
    
}


